<%= notice %>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'users/user', user: @user, book_new: @book_new %>
    </div>
  </div>
  <div class="col-lg-8">
    <h3>Books</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Opinion</th>
        </tr>
      </thead>
        <tbody>
          <% @mybook.each do |mybook| %>
          <tr>
            <td>
            <%= attachment_image_tag mybook.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
            </td>
            <td><%= link_to book_path(mybook.id) do%>
                <%= mybook.title %>
                <% end %></td>
            <td><%= mybook.opinion %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>