<%= notice %>
<h1>一覧画面</h1>
<p>Books title/opinion　image画像込みで一覧表示</p>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
    <%= render 'users/user', user: @user, book_new: @book_new %>
    </div>
  </div>
  <div class="col-lg-8">
    <h3>Books</h3>
    <table class="table">
      <thead>
       <tr>
          <th scope="col"></th>
          <th scope="col">Title</th><!--詳細ページにリンク<= link_to book_path(books.id)>-->
          <th scope="col">Opinion</th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |books_index| %>
        <tr>
          <td><%= attachment_image_tag books_index.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
            <!--books_index　モデル名、：カラム名、サイズ等々-->
          <td><%= link_to book_path(books_index) do %>
              <%= books_index.title %>
              <% end %>
          </td>
          <td><%= books_index.opinion %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>