<h1>詳細画面</h1>
<p>Book detail 投稿者/title/opinion　表示</p>

<div class="left-side">
  <div class="new">
    <h3>New Book(新規投稿)</h3>
    <%= form_with model:@book_new, local:true do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_field :opinion %>
      <span>
      <%= f.submit 'Create Book' %>
      </span>
     <% end %>
    </div>
  </div>
  
<div class="main">
  <h3>Book detail</h3>
  <% @book_show.each do |book_show| %>
    <%= book_show.title %>
    <%= book_show.opinion %>
    
  <% end %>
</div>