<%= notice %>
<h1>詳細画面</h1>
<p>Book detail 投稿者/title/opinion　表示</p>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'users/user', user: @user, book_new: @book_new %>
    </div>
  </div>
  <div class="col-lg-8">
  　<h3>Book detail</h3>
  　<table class="table">
      <tbody>
        <tr>
          <td>
            <div><%= attachment_image_tag @users, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></div>
            <div><%= link_to user_path(@users) do %><!--ユーザ一覧にパス-->
                  <%= @users.name %>
                  <% end %></div></td>
          <td><%= link_to book_path do %><!--詳細画面にパス-->
                  <%= @book.title %>
                <% end %></td>
          <td><%= @book.opinion %></td>
          <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book) %></td>
          <td><%= link_to "Destory", book_path(@book), method: :delete %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>